<?php
/**
 * @var \Bluz\View\View $this
 */

$data = '{"jsonrpc": "2.0", "method": "send_image", "params": "hereParams", "id": 1}';
?>
<h1>Test</h1>

<div>
    <?= $this->api('test', 'example', [$data]) ?>
</div>
